<div class="hero-unit">
  <ul class="tasks-list">
    <li class="task-item"
      ng-repeat="task in tasks.todos" 
      ng-class="{focused: $index == focusModel.focusIndex, 'task-insert': task.isEdit}"
      ng-click="focusModel.focusTo($index)"
      >
      <span class="text-content">
        {{ task.text }}
      </span>
      <input class="task-input" type="text"
        stop-propagation="keyup"
        task="task"
        task-input
        ng-model="task.text"
        >
    </li>
  </ul>
</div>
